
.container {
  max-width: 1100px;
  margin: auto;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

body {
  width: 100%;
}

.cover-container {
  max-width: 42em;
}

#cover {
  margin-top: 15em;
}


