<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <title>Accueil</title>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<div class="container">
    <div th:insert="fragments/recherche.html"></div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
    </div>
    <div th:text="${statut}"></div>
    <div th:if="${message}" th:utext="${message}"
         style="color:red;font-style:italic;">
    </div>
    <div sec:authorize="isAuthenticated()">
        Secured Authentication OK
    </div>
    <div sec:authorize="hasRole('ROLE_ABONNE')">
        Authentifié en tant qu'abonné.
    </div>

    <div th:if="${! #lists.isEmpty(lastLivres)}">
        <h5>Derniers livres :</h5>
        <div class="row">
            <div class="col-md-4" th:each="tempLivre : ${lastLivres}">
                <div class="card" style="margin-top: 2em">
                    <img th:src="@{/img/couv.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${tempLivre.titre}">Card title</h5>
<!--                        <span th:each="auteur : ${tempLivre.auteurs}">-->
<!--                            <span class="card-subtitle mb-2 text-muted" th:text="${auteur.prenom} + ' ' + ${auteur.nom} + ' - '"></span>-->
<!--                        </span>-->
                        <p class="card-subtitle mb-2 text-muted" th:text="${tempLivre.auteurs}"></p>
                        <p class="card-text" th:text="${tempLivre.editeur.nomMaisonEdition}"></p>
                    </div>
                    <!--                    <ul class="list-group list-group-flush">-->
                    <!--                        <li class="list-group-item" th:text="${tempLivre.numeroIsbn13}">ISBN</li>-->
                    <!--                        <li class="list-group-item" th:text="${tempLivre.editeur.nomMaisonEdition}">Editeur</li>-->
                    <!--                        <li class="list-group-item" th:text="${tempLivre.dateEdition}">Date d'édition</li>-->
                    <!--                    </ul>-->
                    <div class="card-body">
                        <a th:href="@{#}" class="card-link">Détail du livre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div th:if="${! #lists.isEmpty(livres)}">-->
    <!--        <h4>Résultat de recherche</h4>-->
    <!--        <table class="table table-striped table-dark table-bordered">-->
    <!--            <thead class="thead-dark">-->
    <!--            <tr>-->
    <!--                <th>Titre</th>-->
    <!--                <th>Resume</th>-->
    <!--                <th>Date d'edition</th>-->
    <!--                <th>Numero isbn13</th>-->
    <!--                <th>Auteur</th>-->
    <!--                <th></th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr th:each="tempLivre : ${livres}">-->
    <!--                <td th:text="${tempLivre.titre}"></td>-->
    <!--                <td th:text="${tempLivre.resume}"></td>-->
    <!--                <td th:text="${tempLivre.dateEdition}"></td>-->
    <!--                <td th:text="${tempLivre.numeroIsbn13}"></td>-->
    <!--                <td th:text="${tempLivre.auteurs}"></td>-->
    <!--                <td><a th:href="@{#}" class="card-link">Détail</a></td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </div>-->
</div>

<footer th:insert="fragments/footer.html"></footer>
</body>
</html>