<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

</head>
<body id=cover class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <span th:if="${logoutMessage}" th:utext="${logoutMessage}"></span>

    <main class="px-3  align-items-center">
        <div th:if="${errorMessage}" th:utext="${errorMessage}"
             style="color:red;font-style:italic;font-size: large">
        </div>
        <h1>Bibliothèques de Nîmes</h1>
        <p class="lead">Bienvenue sur le site des bibliothèques de Nîmes</p>
        <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <div th:case="${true}">
                <div th:if="${bibliotheques}">
                    <form th:action="@{/showAccueil}" method="get">
                        <select name="bibliothequeId" class="form-select col-md-5"
                                title="Rechercher par ...">
                            <option disabled selected>Bibliotheque ...</option>
                            <option th:each="bibliotheque :${bibliotheques}"
                                    th:text="${bibliotheque.nom}"
                                    th:value="${bibliotheque.id}"></option>
                        </select>
                        <br>
                        <p class="lead">
                            <button type="submit"
                                    class="btn btn-lg btn-secondary fw-bold border-white bg-white">Entrez
                            </button>
                        </p>
                    </form>
                </div>
            </div>
            <div th:case="${false}">
                <div th:if="${bibliotheques}">
                    <form th:action="@{/showAccueil}" method="get">
                        <select name="bibliothequeId" class="form-select col-md-5"
                                title="Rechercher par ...">
                            <option disabled selected>Bibliotheque ...</option>
                            <option th:each="bibliotheque :${bibliotheques}"
                                    th:text="${bibliotheque.nom}"
                                    th:value="${bibliotheque.id}"></option>
                        </select>
                        <br>
                        <p class="lead">
                            <button type="submit"
                                    class="btn btn-lg btn-secondary fw-bold border-white bg-white">Entrez
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </main>

</div>


</body>
</html>