<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Accueil</title>
</head>
<body>

<div class="container">

    <h1>Accueil</h1>
    <hr>

    <div th:text="${statut}"></div>

    <table class="table table-striped table-dark table-bordered">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tous les livres</td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/showLivres}"
                       class="btn btn-secondary btn-md btn-block col-sm-3">
                        rechercher
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Recherche par titre</td>
            <td>
                <form action="#" th:action="@{/showLivresByTitre}" method="post">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="text" name="motCle" placeholder="recherche" class="col-sm-9 form-control"
                               autofocus="autofocus">
                        &nbsp
                        <button class="btn btn-secondary btn-md col-sm-3 form-control" type="submit">Rechercher</button>
                    </div>
                </form>
                <!--                <form action="#" th:action="@{/showLivresByTitre}" method="post" class="row g-3">-->
                <!--                    <div class="col-md-9">-->
                <!--                        <input type="text" name="motCle" placeholder="recherche" class="form-control" autofocus="autofocus">-->
                <!--                    </div>-->
                <!--                    <div class="col-md-3">-->
                <!--                        <button class="btn btn-secondary btn-md btn-block form-control" type="submit">Rechercher</button>-->
                <!--                    </div>-->
                <!--                </form>-->
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <hr>
    <br>

    <div th:if="${! #lists.isEmpty(livres)}">
        <h4>Tous les livres</h4>
        <table class="table table-striped table-dark table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Resume</th>
                <th>Date d'edition</th>
                <th>Numero isbn13</th>
                <th>Auteur</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempLivre : ${livres}">
                <td th:text="${tempLivre.titre}"></td>
                <td th:text="${tempLivre.resume}"></td>
                <td th:text="${tempLivre.dateEdition}"></td>
                <td th:text="${tempLivre.numeroIsbn13}"></td>
                <td th:text="${tempLivre.auteurs}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${! #lists.isEmpty(livresParTitre)}">
        <h4>Livres par titres</h4>
        <table class="table table-striped table-dark table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>titre</th>
                <th>resume</th>
                <th>date d'edition</th>
                <th>numero isbn13</th>
                <th>Auteur</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempLivre : ${livresParTitre}">
                <td th:text="${tempLivre.titre}"></td>
                <td th:text="${tempLivre.resume}"></td>
                <td th:text="${tempLivre.dateEdition}"></td>
                <td th:text="${tempLivre.numeroIsbn13}"></td>
                <td th:text="${tempLivre.auteurs}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<form th:action="@{/addPerson}"-->
<!--      th:object="${personForm}" method="POST">-->
<!--    First Name:-->
<!--    <input type="text" th:field="*{firstName}" />-->
<!--    <br/>-->
<!--    Last Name:-->
<!--    <input type="text" th:field="*{lastName}" />-->
<!--    <br/>-->
<!--    <input type="submit" value="Create" />-->
<!--</form>-->

</body>
</html>