<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <title>Détail d'un livre</title>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<div class="container">
    <div th:insert="fragments/recherche.html"></div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;font-size: large">
    </div>
    <div th:text="${statut}"></div>
    <div th:if="${message}" th:utext="${message}"
         style="color:red;font-style:italic;">
    </div>

    <!--    <h3>Détail du livre :</h3>-->
    <br>
    <div th:if="${livre}">
        <div class="card container" style="border: solid darkred 2px">
            <div class="card-header row">
                <div class="col-md-5 text-center">
                    <h4 th:text="${livre.titre}"></h4>
                </div>
                <div class="col-md-5 offset-1 text-center">
                    <h4 th:text="${livre.auteurs}"></h4>
                </div>
            </div>
            <div class="card-body row">
                <div th:if="${!#lists.isEmpty(livre.illustrations)}" class="photo col-md-3 offset-1 text-center">
                    <div th:each="illustration : ${livre.illustrations}">
                        <img th:src="@{${illustration.url}}" class="img-fluid" alt="Couverture">
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(livre.illustrations)}" class="photo col-md-3 offset-1 text-center">
                    <img th:src="@{http://localhost:8081/imageserver/static/couv.jpg}" class="img-fluid"
                         alt="Couverture">
                </div>
                <div class="col-md-7 offset-md-1" style="font-weight: bold">A propos :
                    <div th:text="${livre.resume}" style="font-weight:normal; font-style:italic "></div>
                </div>
            </div>
            <div class="card-footer row">
                <div class="description col-md-12 text-center">
                    <div>Maison d'édition : <a th:text="${livre.editeur.nomMaisonEdition}" style="font-weight: bold; font-size: large"></a></div>
                    <div>Date d'édition : <a th:text="${livre.dateEdition}"></a></div>
                    <div>Genre(s) : <a th:text="${livre.genres}"></a>
                        <div>
                            <span>Numéro ISBN : <a th:text="${livre.numeroIsbn13}"></a></span>
                            <span> / Langue :  <a th:text="${livre.langue.getLangue()}"></a></span>
                        </div>
                        <br>
                        <span>Nombre d'exemplaire(s) disponible(s) : <a th:text="${nbExDispoInOne}"></a></span>
                        <br>
                        <hr>
                        <div th:if="${nbExDispoInOtherElements}">
                            <div th:each="elements : ${nbExDispoInOtherElements}">
                                <span><a th:text="${elements[0]}"></a> exemplaire(s) disponible(s)</span>
                                <span> à la <a th:text="${elements[2]}"></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<footer th:insert="fragments/footer.html"></footer>
</body>
</html>