<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <title>Détail d'un livre</title>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<div class="container">
    <div th:insert="fragments/recherche.html"></div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
    </div>
    <div th:text="${statut}"></div>
    <div th:if="${message}" th:utext="${message}"
         style="color:red;font-style:italic;">
    </div>

    <h3>Détail du livre :</h3>
    <br>
    <div th:if="${livre}">
        <div class="card" style="border: 2px solid darkred;">
            <br>
            <div class="row">
                <div class="photo col-md-6">
                    <img th:src="@{/img/couv.jpg}" style="width: 49%">
                    <img th:src="@{/img/couv.jpg}" style="width: 49%">
                </div>
                <div class="col-md-6" style="font-weight: bold">A propos :
                    <div th:text="${livre.resume}" style="font-weight:normal; font-style:italic "></div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row">
                <div class="description col-md-12 text-center">
                    <h2 th:text="${livre.titre}"></h2>
                    <h3 th:text="${livre.auteurs}"></h3>
                    <h4 th:text="${livre.editeur.nomMaisonEdition}"></h4>
                    <a th:text="${livre.dateEdition}"></a>
                    <div>Genre : <a th:text="${livre.genres}"></a>
                    <div>
                        <span>Numéro ISBN : <a th:text="${livre.numeroIsbn13}"></a></span>
                        <span> / Langue :  <a th:text="${livre.langue.getLangue()}"></a></span>
                    </div>
                    <br>
                    <span>Nombre d'exemplaire disponible : <a th:text="${nbExDispoInOne}"></a></span>
                    <br>
                    <hr>
                    <div th:if="${nbExDispoInOtherElements}">
                        <div th:each="elements : ${nbExDispoInOtherElements}">
                            <span><a th:text="${elements[0]}"></a> exemplaire(s) disponible(s)</span>
                            <span> à la <a th:text="${elements[2]}"></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<br>
<br>

<footer th:insert="fragments/footer.html"></footer>
</body>
</html>