<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Footer</title>
</head>
<body>

<div class="container">
    <footer>
<!--            <span sec:authorize="isAuthenticated()">-->
<!--                | Logged user: <span sec:authentication="name"></span> |-->
<!--                Roles: <span sec:authentication="principal.authorities"></span> |-->
<!--                <a th:href="@{/logout}">Sign Out</a>-->
<!--            </span>-->

        <script type="text/javascript"
                src="webjars/bootstrap/5.0.0-beta3/js/bootstrap.min.js"></script>

    </footer>
</div>

</body>
</html>