<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
<div class="container">
<a th:href="@{#}">
    Back
</a>
</div>
<footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                    >
                        <img
                                th:src="@{http://localhost:8081/imageserver/static/nimes1.jpg}"
                                class="img-fluid"
                        />
                        <a href="#">
                            <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                    >
                        <img
                                th:src="@{http://localhost:8081/imageserver/static/nimes2.jpg}"
                                class="img-fluid"
                        />
                        <a href="#">
                            <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                    >
                        <img
                                th:src="@{http://localhost:8081/imageserver/static/nimes3.jpg}"
                                class="img-fluid"
                        />
                        <a href="#">
                            <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                    >
                        <img
                                th:src="@{http://localhost:8081/imageserver/static/nimes4.jpg}"
                                class="img-fluid"
                        />
                        <a href="#">
                            <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                    >
                        <img
                                th:src="@{http://localhost:8081/imageserver/static/nimes5.jpg}"
                                class="img-fluid"
                        />
                        <a href="#">
                            <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                    >
                        <img
                                th:src="@{http://localhost:8081/imageserver/static/nimes6.jpg}"
                                class="img-fluid"
                        />
                        <a href="#">
                            <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                            ></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="#">dmc30</a>
    </div>
    <!-- Copyright -->
</footer>

<div class="container">
    <footer>
        <!--            <span sec:authorize="isAuthenticated()">-->
        <!--                | Logged user: <span sec:authentication="name"></span> |-->
        <!--                Roles: <span sec:authentication="principal.authorities"></span> |-->
        <!--                <a th:href="@{/logout}">Sign Out</a>-->
        <!--            </span>-->

        <script type="text/javascript"
                src="webjars/bootstrap/5.0.0-beta3/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    </footer>
</div>
</body>
</html>