<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <title>Header</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a id="header-title" href="/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            Bibliothèque
        </a>

        <!--        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
        <!--            <li><a th:href="@{/}" class="nav-link px-2 link-primary">Accueil</a></li>-->
        <!--            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>-->
        <!--            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>-->
        <!--            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>-->
        <!--            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
        <!--        </ul>-->
        <div class="col-md-3">
            <span th:if="${abonne}" th:utext="${abonne.prenom}"></span>
            <a th:if="${abonne}" th:href="@{/logout}">logout</a>
            <span th:if="${logoutMessage}" th:utext="${logoutMessage}"></span>

        </div>
        <div class="col-md-3 text-end">
            <a th:href="@{/login}">
                <button type="button" class="btn btn-outline-primary me-2">Se connecter</button>
            </a>
            <a th:href="@{/signin}">
                <button type="button" class="btn btn-primary">S'inscrire</button>
            </a>
        </div>
    </header>
</div>


</body>
</html>