<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Recherche</title>
</head>
<body>
<div class="container">

    <h2>Rechercher un livre</h2>
    <hr>
    <br>
    <form th:action="@{/searchLivres}" method="post">
        <div class="input-group">
                        <span class="input-group-btn col-md-7">
            <input type="text" class="form-control" name="mot-cle" placeholder="Rechercher ..."/>
                        </span>
            <span class="input-group-btn col-md-3">
            <select id="choix-recherche" name="search-param" class="form-control"
                    title="Rechercher par ...">
                <option disabled selected>Rechercher par ...</option>
                <option value="1">Titre</option>
                <option value="2">Auteur</option>
            </select>
            </span>
            <span class="input-group-btn col-md-2">
            <button type="submit"
                    class="btn btn-primary btn-md btn-block">
                rechercher
            </button>
                </span>
        </div>
    </form>
    <hr>
    <br>
</div>
</body>
</html>