<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Recherche</title>
</head>
<body>
<!--<div sec:authorize="isAuthenticated()">-->
<!--    Secured Authentication OK-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_ABONNE')">-->
<!--    Authentifié en tant qu'abonné.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_EMPLOYE')">-->
<!--    Authentifié en tant qu'employé.-->
<!--</div>-->

<div th:if="${bibliotheque}">
    <h5>Rechercher un livre</h5>
    <br>
    <div>
        <form th:action="@{searchLivresOrAuteurs(bibliothequeId=${bibliotheque.id})}" method="post">
            <div class="input-group">
                        <span class="input-group-btn col-md-7">
            <input type="text" class="form-control" name="mot-cle" placeholder="Rechercher ..."/>
                        </span>
                <span class="input-group-btn col-md-3">
            <select id="choix-recherche" name="search-param" class="form-control"
                    title="Rechercher par ...">
                <option disabled selected>Rechercher par ...</option>
                <option value="1">Titre</option>
                <option value="2">Auteur</option>
            </select>
            </span>
                <span class="input-group-btn col-md-2">
            <button type="submit"
                    class="btn btn-primary btn-md btn-block">
                rechercher
            </button>
                </span>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <div th:if="${! #lists.isEmpty(livres)}">
        <h4>Résultat de recherche</h4>
        <table class="table table-striped  table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Date d'edition</th>
                <th>Editeur</th>
                <th>Auteur</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempLivre : ${livres}">
                <td th:text="${tempLivre.titre}"></td>
                <td th:text="${tempLivre.dateEdition}"></td>
                <td th:text="${tempLivre.editeur.nomMaisonEdition}"></td>
                <td th:text="${tempLivre.auteurs}"></td>
                <td><a th:href="@{showLivreDetails(livreId=${tempLivre.id}, bibliothequeId=${bibliotheque.id})}"
                       class="card-link">Détail</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${! #lists.isEmpty(auteurs)}">
        <h4>Résultat de recherche</h4>
        <table class="table table-striped  table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Date de décès</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempAuteur : ${auteurs}">
                <td th:text="${tempAuteur.prenom}"></td>
                <td th:text="${tempAuteur.nom}"></td>
                <td th:text="${tempAuteur.dateNaissance}"></td>
                <td th:text="${tempAuteur.dateDeces}"></td>
                <td><a th:href="@{searchLivreByAuteurs(auteurId=${tempAuteur.id}, bibliothequeId=${bibliotheque.id})}"
                       class="card-link">Liste des livres disponibles</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>